GEMLOGIN_BASE=http://host.docker.internal:1010
GEMLOGIN_CLOUD_BASE=https://app.gemlogin.io
GEMLOGIN_CLOUD_DEVICE_ID=
GEMLOGIN_CLOUD_SOFT_ID=
GEMLOGIN_CLOUD_TOKEN=
PROXY_ENCRYPTION_KEY=
RUN_TIMEOUT_SECONDS=300
